*{
    box-sizing: content-box;
    margin: 0;
  }

header {
background-color: #4EA0FF;
background-image: url(../img/pattern.png);
background-repeat: repeat;
background-size: 20%;
padding: 5px;
}

div img{
height: 20px;
}

.prima{
width: 80%;
margin: auto;
}

.bool{
    color: #4EA0FF;
}

.prima img{
margin-top: 0px;
}

main{
width: 80%;
margin: auto;
}

.lorem{
margin-top: 30px;
margin-bottom: 30px;
}

.lista{
    margin-left: -20px;
}